.idea/ToDb.iml
.vscode/settings.json
build/bin/ToDb.app/Contents/Info.plist
build/bin/ToDb.app/Contents/MacOS/ToDb
build/bin/ToDb.app/Contents/Resources/iconfile.icns
.idea/ToDb.iml
.github/
.idea/
.history/
node_modules/
build/bin/ToDb.exe
build/bin/ToDb-dev.exe
.gitignore
