.idea/ToDb.iml
.vscode/settings.json
build/bin/ToDb.app/Contents/Info.plist
build/bin/ToDb.app/Contents/MacOS/ToDb
build/bin/ToDb.app/Contents/Resources/iconfile.icns
.idea/ToDb.iml
.github/CHANGELOG.md
.github/CONTRIBUTING.md
.github/FUNDING.yml
.github/logo.gif
.github/logo.png
.github/preview.gif
.github/preview.png
.github/pull-request-template.md
.github/README.md
.github/README.zh-Hans.md
.github/ISSUE_TEMPLATE/issue-template-bug.md
.github/ISSUE_TEMPLATE/issue-template-feature.md
.idea/misc.xml
